.main-container {
    display: flex;
    flex-direction: row;
    
}

.head-right{
    width: 50%;
}

.headbutton{
    margin: 0px 5px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    text-align: center;
    
}

.head-left{
    width: 50%;
    font-family: 'Ubuntu Mono', monospace;
}

.heading{
    font-family: 'Montez', cursive; 
    padding: 0%;
    margin: 0%;
    font-size: 230%;
    color: blue;
    font-style: normal;
}

.sign-button-div{
    float: right;

}